#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: #111;
	padding: 5px 10px;
	opacity: .9;
	border-bottom: 1px #8E8581;
	font-family: InsightWebRegular, Arial;
	font-weight: bold;
	font-style: normal;
}

#logo {
	float: left;
	font-size: 12px;
	color: white;
	font-weight: normal;
	vertical-align: center;
}

p {
	line-height: 1.1;
}


body {
	width:100%;
	background-color: #0b1112;
	font-family: 'InsightWebRegular', Arial, Helvetica, sans-serif;	
	height:600px;
	margin:0;
	padding:0;
}

#top-graphic {
	height: 300px;
	width:100%;
	position: fixed;
	background-image: url("../img/header-graphic.png"); 
	background-repeat: repeat-x;
	top:20px;
	left:0px;
}


.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

::-moz-selection{
    background-color:Transparent;
    }

    ::selection {
    background-color:Transparent;
    }

.highcharts-tooltip p {
	width:400px;
	word-wrap: break-word;
}

.highcharts-tooltip span{
	max-width: 400px;
	white-space: normal !important;
}

#container {
	background-color: #0b1112;
	margin: 200px 50px 0 50px !important;
	width: 300px;
	float:left;
}

.active-label{
	font-weight: bold;
}

#end {
	width:600px;
	background-color: red;
	float:right;
}

.highcharts-legend {
	background-color: #0b1112;
	position: fixed;
	left: 0px;
	bottom:100px;
}

/*Style the buttons*/
.arrow {
	height: 100px;
	position: fixed;
	top:50%;
	background-color: white;
	opacity:.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	font-size: 50px;
	color: black;
	display: block;
	padding: 50px 10px 30px 10px;
	z-index: 100;
	cursor: pointer;
}

.fade {
	display:none;
}

#right-button {
	right:0;
}

#left-button {
	left:0;
}

.arrow:hover {
	color:#007dc3;
	opacity:.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

.intro-wrapper {
	padding: 20px 0 0 0;
	text-align: center;
	height: 1000px;
	width:100%;
	top:0px;
	position: absolute;
	background-image: url("../img/cover-image.jpeg");
	background-repeat:no-repeat;
	background-position: top;
	background-size: 100%;
}


.intro-content {
	margin: 0 auto;
	height:1000px;
	margin: 10% 30% 30% 30%;
}	

.intro-content h1 {
	color: white;
	margin: 0;
	font-size: 80px;
	font-family: 'InsightDisplayWebLight';
}

.intro-content p {
	color: white;
}

.intro__enter{
	color: white;
	cursor: pointer;
}

.chart-wrapper{
	position: absolute;
	left: 2000px;
}

.footer {
	color:#707070;
	position: absolute;
	bottom: -30px;
	left:100px;
	font-size:10px;
	width: 600px;
}

.slide-wrapper{
	position: relative;
}

.active-label{
	color: white !important;
	fill: white !important;
	font-weight: bold !important;
}

#legend {
	position: fixed;
	top: 60px;
	left:50px;
}


/*----FONTS----*/

@font-face {
	font-family: 'InsightWebBold';
	src: url('../font/insight_web_bold.eot');
	src: url('../font/Insight_web_Bold.eot?#iefix') format('embedded-opentype'),
		 url('../font/insight_web_bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'InsightWebRegular';
	src: url('../font/insight_web_regular.eot');
	src: url('../font/insight_web_regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/insight_web_regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'InsightDisplayWebLight';
	src: url('../font/InsightDisplay_web_Light.eot');
	src: url('../font/InsightDisplay_web_Light.eot?#iefix') format('embedded-opentype'),	
		 url('../font/insightdisplay_web_light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
